


<form method="POST" action="">
 customer id: <input type="number" name="customerid" required  />
  <br><br>
 First Name: <input type="text" name="first_name" required />
  <br><br>
 Last Name: <input type="text" name="last_name" required />
  <br><br>
 Zip code: <input type="number" name="zip_code" required />
  <br><br>
State: <input type="text" name="state" required />
  <!-- <td> -->
    <br><br>
 Street Address: <input type="text" name="street_add" required />

<br><br>
 Tin Number: <input type="text" name="tin_no" required />
  <br><br>
   Phone Number: <input type="text" name="phone" required />
  <br><br>
 

 <input type="submit">
