

<form method="POST" action="">
 order id: <input type="number" name="orderid" required  />
  <br><br>
 customer id: <input type="number" name="customerid" required />
  <br><br>
 Advance: <input type="number" name="Advance" required />
  <br><br>
 Status: <input type="text" name="Status" required />
  <br><br>
Item id: <input type="text" name="Itemid" required />
  <!-- <td> -->
 Quantity: <input type="text" name="Quantity" required />


 Expected Delivery Date: <input type="Date" name="ExpectedDeliveryDate" required />
  <br><br>
   Placement Date: <input type="Date" name="PlacementDate" required />
  <br><br>
 

 <input type="submit">

