

<form method="POST" action="">
 <!-- employee id: <input type="number" name="empid" required  /> -->
  <br><br>
  First Name: <input type="text" name="first_name" required />
  <br><br>
  Last Name: <input type="text" name="last_name" required />
  <br><br>
 Aadhar: <input type="text" name="Aadhar" required />
  <br><br>
Job: <input type="text" name="job" required />
Address: <input type="text" name="state" required />
  <!-- <td> -->
 jod: <input type="date" name="jod" required />


  Phone Number: <input type="text" name="phone" required />
  <br><br>
  salary: <input type="number" name="salary" required />
   age: <input type="text" name="age"  />
    password: <input type="text" name="password" required />
    DOB: <input type="Date" name="dob" required />
    layoff: <input type="Date" name="layoff"  />
    secondary Phone Number: <input type="text" name="sec_phone"  />
  <br><br>
    father: <input type="text" name="father" required />
    <!-- address: <input type="text" name="address" required /> -->
   
  <br><br>
 

 <input type="submit">

